/* 第一部分：引入必要的字典 */
#include <behaviors.dtsi>          // 核心行为
#include <dt-bindings/zmk/keys.h>  // 键盘按键字典 (如 A, B, RET)
#include <dt-bindings/zmk/bt.h>    // 蓝牙控制字典
#include <dt-bindings/zmk/ext_power.h> // 电源控制
#include <dt-bindings/zmk/mouse.h> // 鼠标控制字典
#include <dt-bindings/zmk/rgb.h>        // RGB 灯效控制
#include <dt-bindings/zmk/outputs.h>    // 输出切换 (USB/BLE)
#include <dt-bindings/zmk/pointing.h>   /* 鼠标滚轮模拟*/
#include <dt-bindings/zmk/backlight.h>  //背光控制


/* 第二部分：定义你的层级名称（方便阅读，不是必须的，但极度推荐） */
#define DEFAULT 0   // 办公模式
#define GAME    1   // 游戏模式
#define GLOBAL  2   // 你的全局设置层 (音量/灯光)

/ {
    combos {
        compatible = "zmk,combos";

        change_layer {
            bindings = <&to 0>;
            key-positions = <14 16>;
            layers = <2>;
        };

        change_layer1 {
            bindings = <&to 1>;
            key-positions = <14 16>;
            layers = <0>;
        };

        change_layer2 {
            bindings = <&to 2>;
            key-positions = <14 16>;
            layers = <1>;
        };
    };

    behaviors {
        EC11_ROTATE: EC11_ROTATE {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOL_DN>;
        };

        double_tap_up: double_tap_up {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp LS(UP)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        office {
            sensor-bindings = <&EC11_ROTATE>;
            bindings = <
                &kp DEL       &kp HOME      &kp END          &kp C_MUTE        &bt BT_CLR   &bootloader
                &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9     &mkp LCLK
                &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
                &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
                &kp NUMBER_0  &kp DOT       &kp PRINTSCREEN

                /* 4 个触摸板改为持续滚动（垂直方向优先） */
                &msc SCRL_UP      /* P0.17 - 上方区域 */
                &msc SCRL_UP      /* P0.20 */
                &msc SCRL_DOWN      /* P0.22 */
                &msc SCRL_DOWN      /* P0.24 - 下方区域 */
            >;
        };

        function {
            sensor-bindings = <&EC11_ROTATE>;
            bindings = <
                &kp K_LOCK  &bl BL_INC  &bl BL_DEC  &kp C_MUTE        &bt BT_CLR    &bootloader
                &kp F7      &kp F8      &kp F9      &mkp LCLK
                &kp F4      &kp F5      &kp F6
                &kp F1      &kp F2      &kp F3
                &kp F10     &kp F11     &kp F12

                &msc SCRL_UP
                &msc SCRL_UP
                &msc SCRL_DOWN
                &msc SCRL_DOWN
            >;
        };

        game {
            sensor-bindings = <&EC11_ROTATE>;
            bindings = <
                &trans     &trans          &trans     &trans        &bt BT_CLR  &bootloader
                &trans     &double_tap_up  &trans     &trans
                &kp LEFT   &kp DOWN        &kp RIGHT
                &kp LCTRL  &trans          &kp LALT
                &trans     &trans          &kp SPACE

                &msc SCRL_UP
                &msc SCRL_UP
                &msc SCRL_DOWN
                &msc SCRL_DOWN
            >;
        };
    };
};
